<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-landscape-video-capture" version="1.0.8" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaLandscapeVideoCapture</name>
    <description>A plugin to capture and play Videos is landscape full screen mode.</description>
    <keywords>cordova,video,recorder,player</keywords>
    <repo>https://github.com/ergovia-mobile/cordova-landscape-video-capture.git</repo>
    <license>Apache 2.0</license>


    <js-module name="CordovaLandscapeVideoCapture" src="www/CordovaLandscapeVideoCapture.js">
        <clobbers target="CordovaLandscapeVideoCapture" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.afollestad.materialcamera.CaptureActivity"
                    android:theme="@style/MaterialCamera.CaptureActivity"
                    android:screenOrientation="landscape"/>
            <activity
                    android:name="com.afollestad.materialcamera.CaptureActivity2"
                    android:theme="@style/MaterialCamera.CaptureActivity"
                    android:screenOrientation="landscape"/>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="CordovaLandscapeVideoCapture">
                <param name="android-package" value="de.ergovia.CordovaLandscapeVideoCapture" />
            </feature>
        </config-file>

        <!-- add plugin class -->
        <source-file src="src/android/CordovaLandscapeVideoCapture.java" target-dir="src/de/ergovia" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- ios
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoEditor">
                <param name="ios-package" value="VideoEditor"/>
            </feature>
        </config-file>

        <header-file src="src/ios/VideoEditor.h" />
        <source-file src="src/ios/VideoEditor.m" />

        <header-file src="src/ios/SDAVAssetExportSession.h" />
        <source-file src="src/ios/SDAVAssetExportSession.m" />

        <framework src="AssetsLibrary.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="CoreVideo.framework" />
    </platform>
    -->

</plugin>
